@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/user-interface";

$easing: cubic-bezier(.215,.61,.355,1);

@include keyframes(custom-translate-intro) {
	from {
		@include transform(translate3d(0, 30px, 0));
		@include opacity(0);
	}
	to {
		@include transform(translate3d(0, 0, 0));
		@include opacity(1);
	}
}

@include keyframes(fade-in) {
	from {
		@include opacity(0);
	}
	to {
		@include opacity(1);
	}
}

#ifttt-chrome-popup {
	$padding: 12px;

	&.sending-request {
		a {
			pointer-events: none;
		}
	}

	@include animation(custom-translate-intro .4s $easing);
	@include transform(translate3d(0, 0, 0));
	@include single-box-shadow(rgba(0, 0, 0, .35), 0, 0, $padding * 2);

	display: none;
	font-family: "AvenirNextLTW01-Regular",helvetica,arial,sans-serif !important;

	position: absolute;
	width: 250px;
	padding: $padding;
	background-color: #ffffff;
	z-index: 9999999999999999;

	ul {
		background-repeat: no-repeat;
		background-position: $padding $padding;

		-webkit-font-smoothing: antialiased;
		line-height: 22px !important;
		font-size: 18px !important;
		
		&, li {
			margin: 0;
			padding: 0;
		}

		padding: $padding !important;
		padding-top: 22px + ($padding * 2) !important;

		li {
			margin-left: -2px;
			margin-bottom: 6px;

			a:hover {
				border-bottom: 2px solid rgb(51, 204, 255);
			}

			&.success {
				@include animation(fade-in .4s $easing);
				font-weight: bold;
				font-size: 1.5em;
				margin-top: 5px;
			}
		}
	}
}
